@import "./fonts.css";

* {
    margin: 0px;
    padding: 0px;
}

.fix {
    clear: both;
}

html {
    background-color: #eee;
}

body {
    min-width: 1150px;
    width: 1150px;
    margin: 0 auto;
    background-color: #fff;
}


/* Navigation */

nav {
    padding: 20px;
}

.brand {
    width: 211px;
    height: 55px;
    background: no-repeat url("../images/brand.png");
    float: left;
}

.menu {
    list-style: none;
    line-height: 55px;
    font-size: 0px;
    position: absolute;
    left: 50%;
    margin-left: -147px;
}

.menu-item {
    display: inline-block;
    padding: 0px 20px;
    color: #5a5c59;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
}

.menu-item a {
    text-decoration: none;
    color: #5a5c59;
}

.menu-item a:hover {
    color: #8eacc1;
}

.menu-item a:visited {
    color: #5a5c59;
}

/* Header contacts and language selector */

.contacts {
    float: right;
    font-size: 14px;
    font-family: "Open Sans";
    margin-top: 8px;
}

.phone {
    margin-bottom: 7px;
}

.address {
    margin-top: 7px;
}


.fa-phone-fix, .fa-envelope-fix, .fa-map-marker-fix {
    color: #8eacc1;
    padding-right: 8px;
}

.fa-map-marker-fix {
    padding-left: 4px;
    padding-right: 10px;
}

.langs {
    float: right;
    margin-left: 50px;
    padding-top: 7px;
}

.en, .ru {
    width: 29px;
    height: 18px;
}

.ru {
    background: no-repeat url("../images/langs.png") 0px -72px;
    margin-bottom: 6px;
}

.en {
    background: no-repeat url("../images/langs.png") 0px -36px;
}

.en:hover {
    background: no-repeat url("../images/langs.png") 0px 0px;
}

/* Company description */

.about {
    position: relative;
    width: 1150px;
    height: 381px;
    background: no-repeat url("../images/devices.jpg");
    /*padding-top: 343px;*/
}

.description {
    position: absolute;
    bottom: 0;
    padding: 10px 50px;
    color: #fff;
    background-color: #186b93;
    font-family: "Open Sans";
    opacity: 0.9;
    font-size: 14px;
    font-weight: normal;
}

i.uppercase {
    font-style: normal;
    text-transform: uppercase;
}

/* Main content */

main {
    margin-top: 40px;
    padding: 0px 20px;
}

.block {
    margin-top: 40px;
}

.block-title {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* Areas of work */

.area-container {
    float: left;
    width: 350px;
    /*background-color: #8eacc1;*/
    margin-right: 30px;
}

.simulation {
    margin-right: 0px;
}

.control .area-title {
    line-height: 32px;
}

.area-title {
    color: #1f211f;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    padding: 0px 20px;
    margin-top: 20px;
}

.area-icon {
    width: 350px;
    height: 170px;
    text-align: center;
    line-height: 170px;
}

.area-icon img {
    vertical-align: middle;
}

.control .area-icon img {
    width: 303px;
    height: 131px;
}

.soft .area-icon img {
    width: 202px;
    height: 103px;
}

.simulation .area-icon img {
    width: 217px;
    height: 166px;
}

.area-list {
    list-style-type: none;
    margin-top: 15px;
}

.area-list li {
    background-image: url("../images/bullet.png");
    background-repeat: no-repeat;
    background-position: 0px 6px;
    padding-left: 16px;
    padding-bottom:10px;
    font-size: 14px;
    font-family: "Open Sans";
    color: #1f211f;
    line-height: 20px;
}

.area-list a {
    text-decoration: none;
    color: #1f211f;
}

.area-list a:hover {
    color: #646664;
}

/* Slider with last projects */

.project-slider__container {
    min-width: 800px;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    background-color: #eee;
    margin-bottom: 25px;
    font-size: 0px;
}

.project-slide {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #186b93;
    opacity: 0.9;
    width: 250px;
    height: 270px;
    padding: 15px;
    box-sizing: border-box;
}

.project-slide__title {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: left;
    /*padding: 0px 20px;*/
    /*margin-top: 20px;*/
}

.project-slide__description {
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans";
    margin-top: 8px;
    line-height: 15px;
}

.project-slide__description p {
    padding-top: 8px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #125a95;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #8eacc1;
}

.bx-prev {
    left: -50px !important;
}

.bx-next {
    right: -50px !important;
}

/* Company customers */

.customers {
    margin-top: 70px;
    margin-bottom: 75px;
}

.customers a {
    border: none;
}

.customers-list {
    list-style-type: none;
    font-size: 0px;
    margin-left: 40px;
}

.customers-list li {
    display: inline-block;
    /*background-color: #eee;*/
    /*width: 150px;*/
    /*height: 50px;*/
    margin-left: 25px;
}

/* Footer */

footer {
    background-color: #186b93;
    height: 90px;
    padding: 30px;
}

.footer-list {
    list-style-type: none;
    font-size: 0px;
    display: inline-block;
    margin-right: 75px;
}

.footer-list li {
    font-size: 14px;
    font-family: "Open Sans";
    /*font-weight: bold;*/
    color: #fff;
    line-height: 30px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #E0EBFF;
    text-decoration: underline;
}

.footer-contacts, .footer-contacts .fa {
    color: #fff;
}

.footer-contacts {
    margin-top: 15px;
    margin-right: 15px;
}

.areas-footer-list {}
.menu-footer-list {}