{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="about">
    <h2 class="description">Научно-исследовательская лаборатория <i class="uppercase">Современные технологии обработки
        сигналов и управления</i> специализиурется в области разработки автоматизированных систем управления,
        программного обеспечения и моделирования технологических процессов</h2>
</div>

<div class="block areas">
    <div class="area-container control">
        <div class="area-icon"><img src="{% static "core/images/control.svg" %}"></div>
        <h2 class="area-title">Разработка систем управления</h2>
        <ul class="area-list">
            <li><a href="">Проектирование и реализация автоматизированных систем управлениния</a></li>
            <li><a href="">Автоматизация технологических процессов с использованием SCADA:
                Trace Mode, Master Scada, Open Scada</a></li>
        </ul>
    </div>
    <div class="area-container soft">
        <div class="area-icon"><img src="{% static "core/images/soft.svg" %}"></div>
        <h2 class="area-title">Разработка программного обеспечения</h2>
        <ul class="area-list">
            <li><a href="">Разработка автоматизированных рабочих мест и пользовательских интерфейсов</a></li>
            <li><a href="">Программирование ПЛК, ПЛИС и микроконтроллеров</a></li>
            <li><a href="">Разработка драйверов</a></li>
            <li><a href="">Автоматизация производственых и бизнес процессов</a></li>
        </ul>
    </div>
    <div class="area-container simulation">
        <div class="area-icon"><img src="{% static "core/images/simulation.svg" %}"></div>
        <h2 class="area-title">Моделирование технологических процессов</h2>
        <ul class="area-list">
            <li><a href="">Реализация математических и имитационных моделей технологических объектов и процессов</a></li>
            <li><a href="">Моделирование и отработка алгоритмов обработки сигналов и управления</a></li>
        </ul>
    </div>
    <div class="fix"></div>
</div>

<div class="block projects">
    <h2 class="block-title">Реализованные проекты</h2>
    <div class="project-slider__container">
        <ul class="project-slider" id="slider">
            <li>
                <img src="{% static "core/images/slides/turbina.png" %}"/>
                <div class="project-slide">
                    <h3 class="project-slide__title">Система управления малогабаритной газотурбинной установкой</h3>
                    <div class="project-slide__description">
                        <p>По заказу <b>ОАО СКБ Турбина</b> разработана система управления инновационной малогабаритной газотурбинной установкой.
                        <p>Разработана математическая модель газотурбинной устнаовки,.
                        <p>Система управления реализована на базе контроллера для газо-генераторных установок Woodward.
                    </div>
                    <div class="project-slide__details"><a href="/projects/turbina/">Подробнее...</a></div>
                </div>
            </li>
            <li>
                <img src="{% static "core/images/slides/grc.png" %}"/>
                <div class="project-slide">
                    <h3 class="project-slide__title">ПО визуальной обработки телеметрической информации</h3>
                    <div class="project-slide__description">
                        <p>Программа первичной обработки и отображения телеметрической информации
                        предназначена для визуализации данных, приходящих с аппаратных комплексов.
                        <p>Программное обеспечение разработано по заказу <b>ОАО ГРЦ Макеева</b>.
                    </div>
                    <div class="project-slide__details"><a href="/projects/turbina/">Подробнее...</a></div>
                </div>
            </li>
            <li>
                <img src="{% static "core/images/slides/tube.png" %}"/>
                <div class="project-slide">
                    <h3 class="project-slide__title">Автоматизированная система управлением станком сварки труб трением</h3>
                    <div class="project-slide__description">
                        <p>Автоматизированная система обеспечивает управление полуавтоматическим
                        станком сварки труб трением типа ПСТ-50Т.
                        <p>Система управления построена на базе ПЛК SIMATIC S7-300 и
                        промышленного персонального компьютера с
                        установленной SCADA TraceMode.
                    </div>
                    <div class="project-slide__details"><a href="/projects/turbina/">Подробнее...</a></div>
                </div>
            </li>
            <li>
                <img src="{% static "core/images/slides/krok.png" %}"/>
                <div class="project-slide">
                    <h3 class="project-slide__title">Автоматизированная система диспетчеризации и управления центральным тепловым пунктом</h3>
                    <div class="project-slide__description">
                        <p>Разработана система управления тепловыми и гидравлическими процессами ЦТП №22-23
                        <b>Челябинских Тепловых Сетей</b>.
                        <p>Разработана математическая модель ЦТП, проведен синтез алгоритмов управления тепло-гидравлическими процессами ЦТП.
                    </div>
                    <div class="project-slide__details"><a href="/projects/turbina/">Подробнее...</a></div>
                </div>
            </li>
            <li>
                <img src="{% static "core/images/slides/rpk1.png" %}"/>
                <div class="project-slide">
                    <h3 class="project-slide__title">Разработка графического интерфейса системы управления очистными сооружениями</h3>
                    <div class="project-slide__description">
                        <p>...
                    </div>
                    <div class="project-slide__details"><a href="/projects/turbina/">Подробнее...</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="block customers">
    <h2 class="block-title">Наши заказчики</h2>
    <ul class="customers-list">
        <li><a href="http://www.kamaz.ru/" title="ПАО Камаз"><img src="{% static "core/images/customers/kamaz.png" %}" alt="ПАО Камаз"></a></li>
        <li><a href="http://www.skb-turbina.com/" title="АО СКБ Турбина"><img src="{% static "core/images/customers/turbina.png" %}" alt="АО СКБ Турбина"></a></li>
        <li><a href="http://makeyev.ru/" title="АО Государственный ракетный центр имени академика В.П. Макеева"><img src="{% static "core/images/customers/grc.png" %}" alt="АО Государственный ракетный центр имени академика В.П. Макеева"></a></li>
        <li><a href="http://www.rpk-su.ru/" title="Российская приборостроительная корпорация СИСТЕМЫ УПРАВЛЕНИЯ"><img src="{% static "core/images/customers/rpk.png" %}" alt="Российская приборостроительная корпорация СИСТЕМЫ УПРАВЛЕНИЯ"></a></li>
        <li><a href="http://www.croc.ru/" title="ЗАО КРОК инкорпорейтед"><img src="{% static "core/images/customers/krok.png" %}" alt="ЗАО КРОК инкорпорейтед"></a></li>
        <li><a href="http://www.neywa.ru/" title="ФГУП Производственное объединение ОКТЯБРЬ"><img src="{% static "core/images/customers/oktyabr.png" %}" alt="ФГУП Производственное объединение ОКТЯБРЬ"></a></li>
    </ul>
</div>
{% endblock %}